/* ------------
   NAVIGATION BAR
-------------- */

/* General styles for the header */
.main-header {
    background-color: #4CAF50; 
    color: white; 
    padding: 20px;
    text-align: center; 
    font-size: 1.2em;
    position: fixed; 

    width: 100%; 
    z-index: 1000; 
}

/* Styles for the navbar */
.main-nav {
    margin-top: 10px; 
}

/* List styles */
.nav-list {
    list-style-type: none; 
    padding: 0; 
}

/* Item styles */
.nav-item {
    display: inline; 
    margin: 0 30px; 
}

/* Link styles */
.nav-link {
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    transition: color 0.3s; 
}

/* Hover effect for links */
.nav-link:hover {
    color: #FFD700; 
}

/* Banner styles */
.nav-banner img {
    width: 50%; 
    height: auto; 
    margin-left: 25%;
}
